*{padding: 2px;
    margin: auto;
}
.container-fluid .from-group{
    font-size: medium;
    margin: 0px auto;
    
}
.container-fluid h1{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.158);
}
button{
    background-color: green;
    color: black;
}