<div class="container-fluid">
  <h1 [style.color]="'blue'" class="text-success" >{{ message | titlecase }}</h1>
  <form>
  
    <div *ngIf="true" class="from-group">
      <label>Name</label><br>
      <input [(ngModel)]="Name" type="text" >
     {{Name}}
    </div>
    <br>

    <div *ngIf="true" class="from-group">
      <label>Age</label><br>
      <input [id]="myId" [(ngModel)]="Age" type="number" class="from-control">
      {{Age}}

    </div>
    <br>

    <div *ngIf="true" class="from-group">
      <label>RollNumber</label><br>
      <input [(ngModel)]="RollNumber" type="number" class="from-control">
      {{RollNumber}}
    </div>
    <br>

    <div *ngIf="true" class="from-group">
      <label>Class</label><br>
      <input [(ngModel)]="Class" type="text" class="from-control">
      {{Class}}
    </div>
    <br>

    <button (click)="myClickFunction($event)">submit</button>
  
    


  </form>
</div>